.vt-commerce-image-wrapper {
	width: 330px;
	float: left;
	margin-right: 20px;
}

.vt-commerce-image-wrapper .vt-commerce-image-large {
	width: 330px;
}

.vt-commerce-image-wrapper .vt-commerce-image-large img {
	width: 320px;
	max-width: 320px !important;
	border: 1px solid #D6D6D6;
	margin: 5px 6px 10px 0;
	float: left;
	padding: 4px;
	height: 220px;
}
.vt-commerce-image-wrapper .cloud-thumbnail {
  width: 330px;
}
.vt-commerce-image-wrapper .cloud-thumbwrapper {
	float: left;
  margin: 5px 5px 10px 0 !important;
  cursor: pointer;
}
.vt-commerce-image-wrapper .cloud-thumbwrapper img {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  positio: relative;
}